# Project files
.idea
nbproject
*.iml
out
gen

# Kohana template
application/cache/*
application/logs/*

# Composer
/vendor/
composer.lock

# Coverage reports
/build/logs/

# .htaccess files
.htaccess

# extensions config
phinx.yml

# db config
/modules/database/config/database.php